body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.btn {
    display: block;
    width: 150px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.edit {
    color: green;
    text-decoration: none;
}

.form {
    width: 300px;
    margin: auto;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
}